# ==========================================
# Configurações da Aplicação
# ==========================================
PORT=3000
API_PREFIX=

FRONTEND_URL=http://localhost:3000

TRUST_PROXY=1

ADMIN_EMAIL=admin@admin.com
ADMIN_USERNAME=admin
ADMIN_PASSWORD=123456

# ==========================================
# Configurações do Banco de Dados (PostgreSQL)
# ==========================================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=docker
POSTGRES_DB=pelada_draft
DATABASE_URL="postgresql://postgres:docker@localhost:5432/pelada_draft?schema=public"

# ==========================================
# Configurações de Autenticação (JWT)
# ==========================================
ACCESS_TOKEN_SECRET=SECRET_PARA_ACCESS_TOKEN_SUPER_SEGURO
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=SECRET_PARA_REFRESH_TOKEN_MAIS_SEGURO_AINDA
REFRESH_TOKEN_EXPIRES_IN=8d

# ==========================================
# Configurações de E-mail (Resend)
# ==========================================
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxx
RESEND_FROM_EMAIL="Pelada Draft <no-reply@peladadraft.com>"
PASSWORD_RESET_TOKEN_EXPIRES_IN=30m
